<div class="expand-bar">
    <img class="drop-down" src="../../assets/img/ui-expand.png" alt="More button">
</div>
<div class="grid-container">
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <div class="content-image"></div>
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
</div>