.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px;
    row-gap: 2%;
    column-gap: 3.33%;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: solid gray 1px;

}

.content-image {
    background-image: url(../../assets/img/telecommute.jpg);
    width: 100%;
    height: 75%;
}

.content-title {
    height: 20%;
    width: 100%;
    margin: 5% 0% 2.5% 0%;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    transition: color 1s;
}

.expand-bar {
    height: 2%;
    width: 100%;
    display: flex;
}

.drop-down {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}

.content-title:hover {
    color: gray;
    cursor: pointer;
}