<div class="expand-bar">
    <img class="drop-down" src="../../assets/img/ui-expand.png" alt="More button">
</div>
<div class="grid-container">
    <div class="item">
        <img src="../../assets/img/virus.jpg" alt="Molecular model of a virus" class="content-image">
        <div class="content-title">
            <p>Coronavirus and the tech industry's response</p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/img/devices.jpg" alt="Gadgets on a table" class="content-image">
        <div class="content-title">
            <p>Coping with several gadgets </p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/img/telecommute.jpg" alt="Fingers on a laptop keyboard along with a cup of coffee and a calculator" class="content-image">
        <div class="content-title">
            <p>Telecomutting: A new way to work</p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/img/vr.jpg" alt="Person with a VR headset" class="content-image">
        <div class="content-title">
            <p>How VR is being used for the future</p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/img/wash.jpg" alt="Handwashing" class="content-image">
        <div class="content-title">
            <p>Wash your damn hands!</p>
        </div>
    </div>
    <div class="item">
        <img src="../../assets/img/macbook.jpg" alt="Slightly closed Macbook Pro" class="content-image">
        <div class="content-title">
            <p>The new Macbook Pro might finally be worth it</p>
        </div>
    </div>
</div>